.awards-section {
    text-align: center; /* Center-align the content */
    padding: 20px;
    background: url(../../Assets/Frame\ 8.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px; /* Optional: Rounded corner at the bottom */
    filter: brightness(0.9) saturate(2.2) contrast(1.2);
}


#App_img  {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards; /* Animation applied on page load */
   
    
}
.login_page{
    text-align: center;
    display: flex;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards; /* Animation applied on page load */
   
    margin: 10px;
    flex-direction: column; 
}
.awards-title {
    opacity: 0;
  animation: fadeIn 1s ease-in forwards; /* Animation applied on page load */
 
 
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
}

.awards-title:nth-child(1) span {
    padding-top: 20px;
    color: #ffffff;
    position: relative; /* To position the pseudo-element correctly */
}
.login_page .awards-title span {
    color: #000000;
    position: relative; /* To position the pseudo-element correctly */
}
.awards-title span::after {
    content: "";
    display: block;
    width: 70%; /* Adjust this width as needed */
    height: 5px; /* Adjust thickness of the underline */
    background:linear-gradient( to left,
        #04146e,
        #f8f8f8
    ); /* Color of the underline */
    position: absolute;
    bottom: 0;
    left: 0; /* Align underline to the left */
}
 .login_page.awards-title span::after {
    content: "";
    display: block;
    width: 70%; /* Adjust this width as needed */
    height: 5px; /* Adjust thickness of the underline */
    background:linear-gradient( to left,
        #04146e,
        #000000
    ); /* Color of the underline */
    position: absolute;
    bottom: 0;
    left: 0; /* Align underline to the left */
}


.awards-photos {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards; /* Animation applied on page load */
   
    display: flex;
    justify-content: center; /* Center-align the images */
    gap: 20px;
    flex-direction: column;
}

.award-item {

    text-align: center; /* Center-align the text and image */
}

.award-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight:600;
    text-transform: capitalize;
    color: #ffffff; /* Grey color for the text */
    margin-bottom: 10px; /* Space between text and image */
}

.award-item img {
    width: 300px; /* Adjust the image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    border: 2px solid #f8f9ff;
}
@media screen and (max-width: 1024px) {
    .award-item img {
        width: 250px; /* Adjust the image width */
    }
    .section-title {
        font-size: 2.2rem;
    }

    .awards-title{

        font-size: 2.5rem;
    }
    .award-text {
        font-size: 1.5rem;
    }  #App_img{
        width: 100%;
    }
    
 
}
@media screen and (max-width: 768px) {
    .awards-photos {
        flex-direction: column; /* Stack images vertically on smaller screens */
    }
    .section-title {
        font-size: 1.5rem;
    }
    .awards-title{

        font-size: 2rem;
    }

    .award-item img {
        width: 100%; /* Make images full width */
    }
    #App_img{
        width: 100%;
    }

    .award-text {
        font-size: 1.25rem;
    }
    
}

@media screen and (max-width: 480px) {
    .award-item img {
        width: 100%; /* Make images full width */
    }
    .section-title {
        font-size: 1.7rem;
    }
    .awards-title{

        font-size: 1.2rem;
    }
    .login_page.awards-title{

        font-size: 1.5rem;
    }
    .award-text {
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 325px) {
    .award-item img {
        width: 100%; /* Make images full width */
    }
    .section-title {
        font-size: 1.2rem;
    }
    .awards-title{

        font-size: 1rem;
    }
    .login_page .awards-title{
padding:10px ;
margin-bottom: 10px;
        font-size: 1.7rem;
    } 
    .awards-title span::after {
        content: "";
        display: none;
      
    }
    .award-text {
        font-size: .8rem;
    }
    
}