
.objectives-section {
    text-align: center;
display: flex;
font-family: 'Poppins',sans-serif;
flex-direction: column;
    
}
.ALL_id{
    width: 100%;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 60px;
}
.objective-description img{
    align-self: center;
width: 70%;
}

.objective {
 width: 90%;
    margin: 20px auto;
}

.objective-icon:nth-child(1) {
    width: 120px;
    height: 120px;

}
.objective-icon:nth-child(2){

 width: 220px;
    height: 120px;
    object-fit: cover;

}
.objective-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #00093f;
}

.objective-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #555;
    text-align: center;
}
.objective-description  h2{
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.8;
    color: #2e103b;
    text-align: justify;
}
.objective-description ul li strong {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.8;
    color: #00093f;
    text-align: justify;
}